# SPDX-License-Identifier: MIT
# Copyright (C) 2025 Krzysztof Kozlowski <krzk@kernel.org>

[Match]
# With newer systemd 254 the interface name is not stable
# Odroid X, U3, XU, XU3: smsc95xx
# Odroid HC1: r8152
Driver=smsc95xx r8152

[Network]
# Some boards, like Odroid X, have random MAC address (U-Boot does not support
# setting it), so DHCP will break stuff, thus keep kernel's configuration
DHCP=ipv4
# Prevent releasing of existing IP so kernel-configured NFS root will not be broken (systemd v243+)
KeepConfiguration=static
